$white: #fff;
$light-pink: #DD5A6A;
$grayd0: #D0D0D0;
$blue-sh2:#213559;
$lightestblue:#E5EAFF;
$black:#000000;
$lightgreen:#22B78E;
$lightblue:#1D5AA6;
$blue-sh1: #004498;
$light-black: #272727;
$lightestblue-sh1: #ECECFF;
$gry-sh1:#F9F9FF;