@import 'mixinsfile';
.btn-pri{
    background-color: $light-pink;
    border-radius: 3.2px;
    height: 45px;
    color: $white;
    font-family: $AMT;
    font-size: 14.4px;
    line-height: 17px;
}
input,select{
    border: 0.87px solid $grayd0;
    width: 278px;
    height: 42px;
    padding: 0px 18px;
    color: $blue-sh1;
    font-family: $SSL;
    font-size: 12.22px !important;
    &.error{
        border: 1px solid #f00;
    }
}
textarea{
    border: 0.87px solid $grayd0;
    width:100%;
    height: 72px;
    resize: none;
    padding: 18px;
    font-size: 12.22px !important;
    &.error{
        border: 1px solid #f00;
    }
}
.secBtn {
    border-radius: 4px;
    width: 129px;
    height: 49px;
    color: $white;
    font-family: $SSM;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 18px;
}
.radial-gradient{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ec4b8+0,6078ea+100 */
    background: #2ec4b8; /* Old browsers */
    background: -moz-linear-gradient(left,  #2ec4b8 0%, #6078ea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #2ec4b8 0%,#6078ea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #2ec4b8 0%,#6078ea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ec4b8', endColorstr='#6078ea',GradientType=1 ); /* IE6-9 */
}
.slick-slider {
    margin:0 -15px;
    .slick-slide {
        padding:10px;
        text-align:center;
        margin-right:15px;
        margin-left:15px;
    }
}
button.slick-prev.slick-arrow {
    background: url(../images/left-arrow.png) no-repeat left center;
    position: absolute;
    right: 30px !important;
    top: -109px;
    left: auto;
    width:22px;
    @include bp(screen768) {
        top:-20px;
        right:40px !important;
    }
    &::before{
        content:'';
    }
}
button.slick-next.slick-arrow {
    background: url(../images/right-arrow.png) no-repeat left center;
    position: absolute;
    right: 0px !important;
    top: -109px;
    left: auto;
    width:22px;
    @include bp(screen768) {
        top: -20px;
        right:10px !important;
    }
    &::before{
        content:'';
    }
}
label.error {
    font-size: 12.22px !important;
    margin: 0px;
    color: red;
    margin: 0px;
    width: 100%;
    float: left;
}
